<!DOCTYPE html>
<html ng-app="demoApp">
<head>
    <title>jQueryUI Angular Directives</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

    <script src="bower_components/jqueryui-angular-directives/directives/button/button.js"></script>
    <script src="scripts/controllers/mainCtrl.js"></script>
</head>
<body ng-controller="mainCtrl">

<div class="container">
    <h1>jQueryUI Angular Directives</h1>
    <hr>
    <h2>jq-button</h2>

    <div class="row-fluid well well-small">
        <div class="span4">
            <form class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="button.disabled">Disabled</label>

                    <div class="controls">
                        <input type="checkbox" id="button.disabled" ng-model="button.disabled">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="button.icons.primary">Primary icon</label>

                    <div class="controls">
                        <input type="text" id="button.icons.primary" ng-model="button.icons.primary">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="button.icons.secondary">Secondary icon</label>

                    <div class="controls">
                        <input type="text" id="button.icons.secondary" ng-model="button.icons.secondary">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="button.label">Label</label>

                    <div class="controls">
                        <input type="text" id="button.label" ng-model="button.label">
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="button.toggle">Toggle</label>

                    <div class="controls">
                        <input type="checkbox" id="button.toggle" ng-model="button.toggle">
                    </div>
                </div>
            </form>
        </div>
        <div class="span3 offset1">
        <strong>Attributes</strong>
            <ul>
                <li>ng-disabled</li>
                <li>primary-icon</li>
                <li>secondary-icon</li>
                <li>label</li>
            </ul>
        </div>
        <div class="span4">
            <pre>{{ button | json }}</pre>
        </div>
    </div>

    <button jq-button ng-disabled="button.disabled" primary-icon="button.icons.primary" secondary-icon="button.icons.secondary" label="button.label">
        Button
    </button>

    <input type="checkbox" id="check" jq-button ng-checked="button.toggle" label="button.label"/><label for="check">Toggle</label>

    <hr>

    <h2>jq-buttonset</h2>
    <jq-buttonset>
        <input type="radio" id="radio1" name="radio"><label for="radio1">Choice 1</label>
        <input type="radio" id="radio2" name="radio" checked="checked"><label for="radio2">Choice 2</label>
        <input type="radio" id="radio3" name="radio"><label for="radio3">Choice 3</label>
    </jq-buttonset>

</div>

</body>
</html>
